.topBarIconHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-basis: 100%;
}
.something{
    display: flex;
    justify-content: space-between;
}
.colorIcon {
    color: white;   
    justify-content: center;
    align-items: center;
   
 }
 .board,.test,.star,.butler,.name,.userFriends,.menu,.calendar,.invite{
    display: inline-block;
    color: #fff;
    background:hsla(0,0%,100%,.15);
    width: 40px;
    height: 33px;
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
    border-radius: 3px;  
} 
.board{
    width: 100px;
}
.test{
    width: 150px;
    margin-top:0px;
    font-weight: bold;
}
.star{
    width: 50px;
  
}
.name{
    width: 200px;
}
.userFriends{
    width: 150px;
}
.invite{
    width: 100px;
}
.calendar{
    width:120px;
   
}
.butler{
    width:100px;
  
}
.menu{
    width: 150px;
    cursor: pointer;
}
.more{
    display: inline-block;
    width: 20px;
}

.moveIcon{
    margin-right: 200px;
    transition: ease-in-out;
}