.inputContainer {
    max-width: 320px;
   
 }
 .addButtonCard {
     border-radius: 3px;
     height: 40px;
     -moz-transition: all .2s ease-in;
     -o-transition: all .2s ease-in;
     -webkit-transition: all .2s ease-in;
     background-color: #ebecf0;
     transition: all .2s ease-in;
     margin-left: 20px;
     padding: 5px;
     width: 100%;
 }
 .addButtonCard:hover {
     background-color: gainsboro;
     cursor: pointer;
 }
 .addButtonList {
     border-radius: 3px;
     height: 40px;
     color: #fff;
     background:hsla(0,0%,100%,.15);
     margin-left: 20px;
     padding-top: 5px;
     text-indent: 12px;
     display: flex;
 }
 .addButtonList:hover{
     color: #fff;
     background:hsla(0,0%,100%,.24);
     cursor: pointer;
 }
 
 .timesIcon {
     margin-left: 10px;
     font-size: 20px;
     color: gray;
     cursor: pointer;
 }